extends layout

block content
  h1 Merge Audio
  p The new way to create.
  hr
  .row
    .col-sm-6
      h2 Popular Tracks
      ul
        each track in tracks
            li
                a(href='/track/#{track.id}') #{track.name} 
                | by #{track.author}
        br
        a.btn.btn-default(href='/top', role='button') View more »
    .col-sm-6
      h2 Popular Artists
      ul
        each user in users
            li
                a(href='/user/#{user.id}') #{user.email}
        br
        a.btn.btn-default(href='/#', role='button') View more »
