extends ../layout

block content
  .page-header
    h3 #{track.name} - #{track.rep} Stars
    form(id='rep-track-form', method='POST', action='/addrep/#{track.id}')
        input(type='hidden', name='_csrf', value=_csrf)
        button.btn.btn-success(type='submit')
            span.glyphicon.glyphicon-star(aria-hidden="true")
    form(id='fork-track-form', method='POST', action='/fork/#{track.id}')
        input(type='hidden', name='_csrf', value=_csrf)
        button.btn.btn-success(type='submit') Fork

    h4 By: #{track.author}
    ul
        each stem in stems
            li #{stem.name} by: #{stem.author}


    p.center(style="text-align:center")
        button.btn.btn-default.btn-lg(id="playBtn", onClick="javascript:Mixer.toggle();", disabled)
            span.glyphicon.glyphicon-play-circle(aria-hidden="true") Play/Pause

    div#mixer

    button.btn(onClick="javascript:window.location.href='/addstem/#{track.id}'") Add Stem to This Track

    append scripts
        != js('mixerManifest')
