extends ../layout

block content
  .page-header
    h3 #{track.name}
    h4 By: #{track.author}
    ul
        each stem in stems
            li #{stem.name} by: #{stem.author} id: #{stem.id}

    button.btn(onClick="javascript:window.location.href='/addstem/#{track.id}'") Add Stem to This Track
    div#mixer
    != js('mixer')
    script.
        var s = [];
        var buff = {};

    each stem in stems
        script.
            s.push({'name':'#{stem.name}','url':'#{stem.url}'})
            buff['#{stem.name}'] = '#{stem.url}'

    script.
        console.log(s);
        loadBuffers(buff);
        Mixer.init(s)
